.footer{

    background:#0f172a;

    color:#ffffff;

    padding:80px 8% 30px;

    margin-top:80px;
}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr;

    gap:60px;

    align-items:flex-start;
}

/* ================= Logo ================= */

.footer-logo{

   color:#ffffff !important;

    font-size:2rem;

    font-weight:700;

    margin:0;
}

.footer-logo h2{

   color:#ffffff !important;

    font-size:2rem;

    font-weight:700;

    margin:0; 
}

.footer-logo svg{

    font-size:2rem;

    color:#3b82f6;
}

/* ================= About ================= */

.footer-about p{

    color:#cbd5e1;

    line-height:1.9;

    font-size:17px;

    max-width:420px;
}

/* ================= Titles ================= */

.footer-links h3,
.footer-contact h3{

    color:#ffffff;

    font-size:24px;

    margin-bottom:22px;
}

/* ================= Links ================= */

.footer-links,
.footer-contact{

    display:flex;

    flex-direction:column;
}

.footer-links a,
.footer-contact a{

    text-decoration:none;

    color:#cbd5e1;

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:18px;

    font-size:17px;

    transition:0.3s;
}

.footer-links a:hover,
.footer-contact a:hover{

    color:#3b82f6;

    transform:translateX(6px);
}

.footer-contact svg{

    font-size:20px;

    color:#3b82f6;
}

/* ================= Divider ================= */

.footer hr{

    border:none;

    height:1px;

    background:#334155;

    margin:45px 0 25px;
}

/* ================= Copyright ================= */

.copyright{

    text-align:center;

    color:#94a3b8;

    font-size:16px;

    letter-spacing:0.5px;
}

/* ================= Responsive ================= */

@media(max-width:900px){

.footer{

    padding:60px 6% 25px;
}

.footer-container{

    grid-template-columns:1fr;

    gap:45px;

    text-align:center;
}

.footer-logo{

    justify-content:center;
}

.footer-about p{

    margin:auto;
}

.footer-links,
.footer-contact{

    align-items:center;
}

.footer-links a,
.footer-contact a{

    justify-content:center;
}

.footer-links a:hover,
.footer-contact a:hover{

    transform:none;
}

}