.navbar{
    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 7%;

    position:fixed;
    top:0;
    left:0;

    background:rgba(255,255,255,0.95);
    backdrop-filter:blur(12px);

    box-shadow:0 5px 20px rgba(0,0,0,0.08);

    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;

    text-decoration:none;
}

.logo h2{
    color:#2563eb;
    font-size:2.2rem;
    font-weight:700;
    margin:0;
}

.logo-icon{
    font-size:2rem;
    color:#2563eb;
}

.nav-links{
    display:flex;
    align-items:center;

    list-style:none;

    gap:38px;

    margin:0;
    padding:0;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#1e293b;
    font-size:1.08rem;
    font-weight:500;

    transition:0.3s;
}

.nav-links a:hover{
    color:#2563eb;
}

.nav-buttons{
    display:flex;
    align-items:center;
    gap:15px;
}

.login-btn{

    display:flex;
    justify-content:center;
    align-items:center;

    min-width:120px;
    height:48px;

    text-decoration:none;

    border:2px solid #2563eb;

    color:#2563eb;

    border-radius:10px;

    font-weight:600;

    transition:0.3s;
}

.login-btn:hover{

    background:#2563eb;

    color:white;

    transform:translateY(-2px);
}

.signup-btn{

    display:flex;
    justify-content:center;
    align-items:center;

    min-width:120px;
    height:48px;

    text-decoration:none;

    background:#2563eb;

    color:white;

    border-radius:10px;

    font-weight:600;

    transition:0.3s;
}

.signup-btn:hover{

    background:#1d4ed8;

    transform:translateY(-2px);
}

@media(max-width:900px){

.navbar{

    flex-direction:column;

    height:auto;

    padding:20px;
}

.logo{

    margin-bottom:20px;
}

.nav-links{

    flex-wrap:wrap;

    justify-content:center;

    gap:20px;

    margin-bottom:20px;
}

.nav-buttons{

    width:100%;

    justify-content:center;

    gap:15px;
}

.login-btn,
.signup-btn{

    min-width:140px;
}

}