.stats{
    padding:100px 8%;
    text-align:center;
    background:linear-gradient(135deg,#2563eb,#1d4ed8);
    color:white;
}

.stats h2{
    font-size:46px;
    margin-bottom:15px;
}

.stats-subtitle{
    max-width:650px;
    margin:auto;
    margin-bottom:60px;
    font-size:18px;
    line-height:1.7;
    color:#dbeafe;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.stat-card{
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(8px);
    border-radius:20px;
    padding:40px 20px;
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-10px);
    background:rgba(255,255,255,.18);
}

.stat-icon{
    font-size:42px;
    margin-bottom:20px;
}

.stat-card h3{
    font-size:36px;
    margin-bottom:10px;
}

.stat-card p{
    font-size:18px;
}
/* ==========================
   Responsive Stats
========================== */

@media (max-width:900px){

.stats-grid{

grid-template-columns:1fr;
}

.stats h2{

font-size:36px;
}

}
