.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
  padding: 30px;
}

.login-card {
  width: 420px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-card h1 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: #1e293b;
  line-height: 1.2;
  margin: 0;
}

.login-card p {
  text-align: center;
  color: #64748b;
  font-size: 16px;
  line-height: 1.6;
  margin: 15px 0 30px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 20px;
}

.icon {
  margin-right: 10px;
  color: #2563eb;
  font-size: 18px;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  background: transparent;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 25px;
}

.login-options label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-options a {
  text-decoration: none;
  color: #2563eb;
}

.login-btn {
  width: 100%;
  padding: 14px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #1d4ed8;
}

.signup-text {
  text-align: center;
  margin-top: 25px;
}

.signup-text a {
  text-decoration: none;
  font-weight: 600;
  color: #2563eb;
}