.signup-container{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f1f5f9;

padding:30px;
}

.signup-card{

width:450px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.signup-card h1{

text-align:center;

margin-bottom:10px;

color:#1e293b;
}

.signup-card p{

text-align:center;

color:#64748b;

margin-bottom:30px;
}

.input-group{

display:flex;

align-items:center;

border:1px solid #d1d5db;

padding:14px;

border-radius:10px;

margin-bottom:20px;
}

.icon{

margin-right:10px;

color:#2563eb;
}

.input-group input{

width:100%;

border:none;

outline:none;

font-size:16px;
}

.signup-btn{

width:100%;

padding:14px;

border:none;

background:#2563eb;

color:white;

font-size:17px;

border-radius:10px;

cursor:pointer;

transition:.3s;
}

.signup-btn:hover{

background:#1d4ed8;
}

.login-text{

text-align:center;

margin-top:25px;
}

.login-text a{

text-decoration:none;

font-weight:600;

color:#2563eb;
}